[submodule "core"]
	path = core
	url = git@github.com:centrexos/centrex-core.git
[submodule "installer"]
	path = installer
	url = git@github.com:centrexos/centrex-installer.git
[submodule "kernel"]
	path = kernel
	url = git@github.com:centrexos/centrex-kernel.git
[submodule "tooling"]
	path = tooling
	url = git@github.com:centrexos/centrex-tooling.git
[submodule "metadata"]
	path = metadata
	url = git@github.com:centrexos/centrex-metadata.git
[submodule "docs"]
	path = docs
	url = git@github.com:centrexos/centrex-docs.git
[submodule "branding"]
	path = branding
	url = git@github.com:centrexos/centrex-branding.git
[submodule "desktop-gnome"]
	path = desktop-gnome
	url = git@github.com:centrexos/centrex-desktop-gnome.git
[submodule "desktop-kde"]
	path = desktop-kde
	url = git@github.com:centrexos/centrex-desktop-kde.git
